
     

    
   

  

     <div div class=" mat-card" id="info-data">
       <h1>Pamela Romina Ramírez</h1>
       <div id="info-company">Desarrolladora Full Stack Junior</div>
       <div id="info-contact">
         <span> Tandil, Provincia de Buenos Aires. Argentina</span>
         <span><a href="#">Información de contacto</a></span>
       </div>
      </div>   
  <br><br><br>
  <div div class=" mat-card" id="info-data">
    <h2>Experiencia Laboral</h2>
    <div id="info-company"> Profesora de Física </div>
     <div id="info-contact">
       <span> Tandil, Provincia de Buenos Aires. Argentina</span>
       <span><a href="#">Empresas</a></span>
     </div>
    </div>
       
    <br><br><br>
    <div div class=" mat-card" id="info-data">
      <h2>Educación</h2>
      <div id="info-company"> 
        <p>
          Instituto de Formación docente N°169 Gral Madariaga. Profesorado de Física.
        </p> </div>
      <div id="info-contact">
        <span> Tandil, Provincia de Buenos Aires. Argentina</span>
        <span><a href="#">Titulos</a></span>
      </div>
         </div>








   
  







   

   
  
   



